/* body styles */
body {
  width: 850px;
  margin: auto;
  background: #fff7e1;
  font-size: 16px;
  font-family: sans-serif, "Times New Roman", Tahoma;
  color: #112241; 
}

/* headers */
h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  font-weight: bold;
  margin: 10px 0;
}

h5 {
  font-size: 1.25em;
}

header p {
  font-size: 0.99em;
  font-style: italic;
}

/* footer */
footer p {
  font-size: 0.75em; 
  color: #112241;
}

/* structure */

header, footer {
  border-bottom: 1px solid #444;
}

footer {
  margin-top: 5px;
  border-top: 1px solid #444;
  padding-top: 5px;
}

/* main */
main {
  overflow: auto;
  padding: 15px 0;
}

/* nav */

nav {
  padding-top: 5px;
  font-size: 0.875em;
}

/* form elements */

input {
  color: grey;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  font-size: 0.7em;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid black;
  background-color: whitesmoke;
}

/* note controls */

.note-controls {
  margin: 10px 0;
  padding: 5px;
  border-bottom: 3px solid #dedede;
}

.note-controls button {
  color: red;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background: white;
}