/* body styles, updated for grid */

.body {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr; /* adds three columns, each 1fr wide */
  grid-auto-rows: minmax(120px, auto); /*sets min height to 120, with max height autosized */
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas:
    "banner"
    "main-content"
    "footer";
  margin: 20px 15% 0 15%;
  padding: 0;
  height: calc(99vh - 20px);
}

/* grid areas for the banner */

div.banner {
  grid-area: site-banner;
  display: grid;
  grid-template-columns: 90px 1fr auto;
  grid-template-rows: 70px;
  grid-template-areas: 
      "site-logo site-header banner-extras";
}

.logo {
  grid-area: site-logo;
  margin: 0;
}

.site-header {
  grid-area: site-header;
  margin: 5px 5px 0 0;
  border: 2px solid #112241;
  padding: 3px;
}

.banner-extras {
  grid-area: banner-extras;
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-areas: 
      "extra-left extra-right";
  margin: 0 0 0 5px;
  border: 2px solid #112241;
}

/* grid areas for the site content itself */

.input-note {
  grid-area: add-a-note;
  margin: 10px 5px 0 0;
  border: 2px solid #112241;
  padding: 0 20px 20px 20px;
  border-radius: 30px;
}

.image-search {
  grid-area: search-image;
  margin: 10px 0 0 5px;
  border: 2px solid #112241;
  padding: 0 20px 20px 20px;
  border-radius: 30px;
}

.note-output {
  display: flex; /* flex */
  flex-direction: row; /* flex wrap row */
  flex-wrap: wrap; /* wraps items to new line */
  justify-content: flex-start; /* starting point for flex */
  row-gap: 10px;
  flex-basis: 100px; 
  flex-grow: 1; /* all items equal */
  grid-area: note-output;
  margin: 5px 0 0 5px;
  border: 2px solid #112241;
  padding: 0 20px 20px 20px;
  border-radius: 30px;
}

.note-controls {
  grid-area: note-controls;
  margin: 5px 0 0 5px;
  border: 2px solid #112241;
  padding: 0 20px 20px 20px;
  border-radius: 30px;
}

/* grid areas for the footer */
.footer {
  grid-area: footer;
  margin: 0;
  border-top: 1px solid #112241;
}