/* default layout - mobile */

/* 500px and below */
@media (max-width: 500px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner"
      "main-content"
      "footer";
  }

  .banner {
    grid-area: banner;
  }

  .input-note {
    grid-area: add-a-note;
  }

  .image