/* default layout - mobile */

/* 500px and below */
@media (max-width: 500px) {
  .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "banner"
      "main-content"
      "footer";
  }

  .banner {
    grid-area: banner;
  }

  .input-note {
    grid-area: add-a-note;
  }

  .image-search {
    grid-area: search-image;
  }

  .note-output {
    grid-area: note-output;
  }

  .note-controls {
    grid-area: note-controls;
  }

  .footer {
    grid-area: footer;
  }
}

/* tablet layout - 500px to 768px */
@media (min-width: 501px) and (max-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner banner"
      "add-a-note search-image"
      "note-output note-controls"
      "footer footer";
  }

  .banner {
    grid-area: banner;
  }

  .input-note {
    grid-area: add-a-note;
  }

  .image-search {
    grid-area: search-image;
  }

  .note-output {
    grid-area: note-output;
  }

  .note-controls {
    grid-area: note-controls;
  }

  .footer {
    grid-area: footer;
  }
}

/* desktop layout - 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "banner banner banner"
      "add-a-note search-image note-output"
      "footer footer footer";
  }

  .banner {
    grid-area: banner;
  }

  .input-note {
    grid-area: add-a-note;
  }

  .image-search {
    grid-area: search-image;
  }

  .note-output {
    grid-area: note-output;
  }

  .note-controls {
    grid-area: note-controls;
  }

  .footer {
    grid-area: footer;
  }
}

/* other desktops - 1024px+ */
@media (min-width: 1024px) {
  .body {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "banner banner banner"
      "add-a-note search-image note-output"
      "footer footer footer";
  }

  .banner {
    grid-area: banner;
  }

  .input-note {
    grid-area: add-a-note;
  }

  .image-search {
    grid-area: search-image;
  }

  .note-output {
    grid-area: note-output;
  }

  .note-controls {
    grid-area: note-controls;
  }

  .footer {
    grid-area: footer;
  }
}