body {
  width: 850px;
  margin: auto;
  background: rgb(228, 228, 228);
  font-size: 16px;
  font-family: sans-serif, "Times New Roman", Tahoma;
}

h1 {
  font-size: 1.80em;
}

nav {
  padding-top: 5px;
  font-size: smaller;
}

header {
  border-bottom: 1px solid #444;
}

header p {
  font-size: 0.99em;
  font-style: italic;
}

footer p {
  font-size: 0.5em;
}

h5 {
  font-size: 1.25em;
  margin: 10px 0 10px 0;
}

main {
  overflow: auto;
  padding: 15px 0 15px 0;
}

footer {
  margin-top: 5px;
  border-top: 1px solid #444;
}

input {
  color: grey;
}

button {
  font-size: 80%;
}